# Dependency directories
/node_modules

# Environment variables file
.env

# Build output
/build
/dist

# Compiled TypeScript files
*.js
*.js.map

# IDE and editor files
/.vscode
/.idea

# macOS system files
.DS_Store

# Windows Thumbs.db file
Thumbs.db

