.App {
  font-family: 'Trebuchet MS';
  text-align: center;
  overflow-x: hidden;
}

.Summary {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.TimelineTitle {
  text-align: left;
}

.selfEmployed {
  font-style: normal;
}

.infoSection{
  display: flex;
}

.TechnicalInfo{
  text-align: left;
  flex: 1;
}

.TechnicalInfo img{
  vertical-align:middle;
}

.PersonalInfo{
  text-align: left;
  flex: 1;
}

.PersonalInfo a,.PersonalInfo a:visited{
  color: black;
}

.closeButton {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 5px 0px 0px;
}

.closeButton:hover {
  opacity: 0.7;
}

@media screen and (max-width: 600px) {
  .infoSection {
    flex-direction: column;
  }
  .TechnicalInfo, .PersonalInfo {
    width: 100%;
  }
}

.offseted{
  padding-left: 54px;
}

.SeeSource {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}