.App {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.Summary {
  text-align: left;
}

.TimelineTitle {
  text-align: left;
}

.selfEmployed {
  font-style: normal;
}

.infoSection{
  display: flex;
}

.TechnicalInfo{
  text-align: left;
  flex: 1;
}

.TechnicalInfo img{
  vertical-align:middle;
}

.PersonalInfo{
  text-align: left;
  flex: 1;
}

@media screen and (max-width: 500px) {
  .infoSection {
    flex-direction: column;
  }
  .TechnicalInfo, .PersonalInfo {
    width: 100%;
  }
}
