.App {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.Summary {
  text-align: left;
}

.TimelineTitle {
  text-align: left;
}

.selfEmployed {
  font-style: normal;
}

.infoSection{
  display: flex;
}

.TechnicalInfo{
  text-align: left;
  flex: 1;
}

.TechnicalInfo img{
  vertical-align:middle;
}

.PersonalInfo{
  text-align: left;
  flex: 1;
}

.PersonalInfo a,.PersonalInfo a:visited{
  color: black;
}

@media screen and (max-width: 500px) {
  .infoSection {
    flex-direction: column;
  }
  .TechnicalInfo, .PersonalInfo {
    width: 100%;
  }
}

.offseted{
  padding-left: 67px;
}

.SeeSource {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}